
@media screen and ( max-width: 1440px )
    .button
        &--outline
            padding: 18px 48px
    
@media screen and ( max-width: 1366px )
    html
        font-size: 12px
    .nav
        &__item
            margin-right: 1rem
    .hero
        &__content
            margin-left: 4rem
    .button
        &--outline
            padding: 18px 48px
@media screen and ( max-width: 992px )
    .nav
        display: none
    .hero
        &__instagram
            display: none
        &__content
            margin-left: 0
@media screen and ( max-width: 845px )
    .row
        flex-direction: column
        align-items: center
    .types
        &__card
            margin-bottom: 4.07rem
    .card
        &__text
            margin-left: 0
    .design
        background-color: $dark
        &__section-title
            color: $light
        &__card
            margin-bottom: 5.7rem
        &__description
            color: $light

    
@media screen and ( max-width: 570px )
    .contacts
        &__phone
            margin-right: 0
            color: $light
            text-decoration: none
        &__button
            display: none
    .title
        font-size: 1.64rem
    .hero
        &__scroll-down
            display: none
        &__content
            max-width: 22.86rem
        &__title
            margin-bottom: 0.1rem
        &__text
            font-size: 1.29rem
            margin-bottom: 2.28rem
        &__button
            display: block
            min-width: 22.86rem
            margin-bottom: 1.85rem
@media screen and ( max-height: 520px  )
    .hero
        &__scroll-down
            display: none
@media screen and ( max-width: 390px )
    .col
        margin-bottom: 2rem
    .logo
        padding-right: 7rem
    .hero
        background: url(../img/hero_Mobile.jpg) no-repeat center/cover  
        &__content
            max-width: 22.98rem
            line-height: 0.7 
        &__title
            font-size: 1.90rem
            line-height: 132.83%
            
        &__text
            font-size: 1.35rem
            margin-top: rem
            line-height: 1.55
            margin-bottom: 2.75rem
        &__button
            font-size: 1.13rem
            min-height: 4.30rem
            min-width: 28.20rem
    .button
        &--primary
                margin-bottom: 2.20rem
    .card
        margin-left: 0.2rem
        &__image
            max-width: 27.90rem
            min-height: 29rem
        &__text
            margin-left: 0
            max-width: 22.4rem
            margin-top: -10.4rem
        &__pricetag
            padding: 1rem 2.65rem
            text-align: center
    .design
        &__text
            min-height: 15rem
            max-width: 22rem
            margin-top: -12rem   
        &__description 
            max-width: 25rem
            line-height: 1.70rem
            font-size: 1.25rem
        &__pricetag
            left: -0.4rem
            padding: 1rem 3.70rem
            margin-left: 0
            text-align: center
    .section-title
        &__heading
            font-size: 1.80rem
            line-height: 138.6%
@media screen and ( max-width: 359px )
    html
        font-size: 10px
       
        
        
            

    
    