.design
    &__section-title
        margin-bottom: 1.71rem
    &__description
        margin: 0 auto
        font-size: 1.43rem
        max-width: 52.93rem
        margin-bottom: 2.78rem
        text-align: center
        line-height: 1.93rem
        

